<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="../back.css">
    <title>Hadith</title>
</head>
<body>
   <!-- ------------ AHADETH ---------------- -->
   <a href="../../index.html" class="back h"><i class="fa-solid fa-arrow-left"></i></a>
<div class="container">
    <h1 class="title">الأحاديث</h1>
    <div class="content">
  <div class="text">
    <p class="nas">
    </p>
  </div>
    </div>
    <div class="btncontainer">
        <button class="btn btn2">السابق</button>
        <p class="btn number"></p>
        <button class="btn btn1">التالي</button>
    </div>
</div>


   
    <!-- ------------ END -------------- -->
    <script src="main.js"></script>
</body>
</html>