<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="../back.css">
    <title>QURAN</title>
</head>
<body>
    <a href="../../index.html" class="back q"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="header">
        <h1>القران الكريم</h1>
    </div>
        <div class="container">

        </div>
   
   

    <!-- ------------------background sura-------------------- -->
    <div class="sura ">
        <button class="remove ">
           <i class="fas fa-times"></i>
        </button>
        <div class="ayat">
            
        </div>
        <div class="up">
            <i class="fa-solid fa-arrow-up"></i>
        </div>       
    </div>

    <!-- ------------ end -------------- -->
    <script src="main.js"></script>
</body>
</html>