<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="../back.css">
    <title>سبحة</title>
</head>
<body>
<!-- <video src="./pexels-michael-burrows-7126078 (1080p).mp4" muted autoplay loop></video> -->
   <!-- ------------  counter ---------------- -->
    <h1 class="text-center alert-dark text-primary p-4 mt-4 aya">وَاذْكُرُوا اللَّهَ كَثِيرًا لَّعَلَّكُمْ تُفْلِحُونَ 
    </h1> 
    <a href="../../index.html" class="back"><i class="fa-solid fa-arrow-left"></i></a>
   <div class="alert badge-danger rounded-5 d-flex m-5 justify-content-center">
    <h1 class="abdelrhman ml-4 badge-danger ">لا تنسي الدعاء لعبدالرحمن</h1>
    <button type="button" class="close text-dark" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" class=" fa-2x text-white">&times;</span>
    </button>
  
  </div>
  
   <!--- ----------------------Start-------------------- -->
   <div class="x container d-flex flex-wrap justify-content-around">

    <!-- -------------------------------------------- -->  
    
      <div class="text col-lg-3 col-md-4  col-sm-12 mr-3 mb-5 mt-5 text-center ">
        <button class="return">
          <i class="fa-solid fa-rotate-left"></i>
        </button>
        <button class="btn" id="btn4">0</button>
        <p class="badge-success">لا إله إلا الله</p>
      </div>
    <!-- ----------------------------------------- -->
      <!-- -------------------------------------------- -->
      <div class="text col-lg-3 col-md-4  col-sm-12 col-sm-12 mr-lg-3  mb-lg-5 mt-lg-5 text-center ">
        <button class="return">
          <i class="fa-solid fa-rotate-left"></i>
        </button>
        <button class="btn" id="btn5">0</button>
        <p class="badge-danger">اللهم صلي علي سيدنا محمد</p>
      </div>
    <!-- ----------------------------------------- -->
      <!-- -------------------------------------------- -->
      <div class="text col-lg-3 col-md-4  col-sm-12 mr-lg-3  mb-lg-5 mt-lg-5 text-center ">
        <button class="return">
          <i class="fa-solid fa-rotate-left"></i>
        </button>
        <button class="btn" id="btn4">0</button>
        <p class="badge-info">أستغفر الله </p>
      </div>
    <!-- ----------------------------------------- -->
    
<!--- ----------------------Start-------------------- -->
<div class="container mt-4 d-flex flex-wrap mb-3 justify-content-around">

  <!-- -------------------------------------------- -->  
  
    <div class="text col-lg-3 col-md-4  col-sm-12 col-sm-12 mr-md-3  mb-md-5 mt-md-5 text-center ">
      <button class="return">
        <i class="fa-solid fa-rotate-left"></i>
      </button>
      <button class="btn" id="btn4">0</button>
        <p class="badge-success">سُبْحَانَ اللهِ العَظِيمِ وَبِحَمْدِهِ </p>   
 </div>
  <!-- ----------------------------------------- -->
    <!-- -------------------------------------------- -->
    <div class="text col-lg-3 col-md-4  col-sm-12 col-sm-12 mr-md-3  mb-md-5 mt-md-5 text-center ">
      <button class="return">
        <i class="fa-solid fa-rotate-left"></i>
      </button>
      <button class="btn" id="btn5">0</button>
      <p class="badge-danger">سُبْحَانَ اللَّهِ وَبِحَمْدِهِ ، سُبْحَانَ اللَّهِ الْعَظِيمِ </p>
    </div>
  <!-- ----------------------------------------- -->
    <!-- -------------------------------------------- -->
    <div class="text col-lg-3 col-md-4  col-sm-12 col-sm-12 mr-lg-3  mb-lg-5 mt-lg-5 text-center ">
      <button class="return">
        <i class="fa-solid fa-rotate-left"></i>
      </button>
      <button class="btn" id="btn4">0</button>
      <p class="badge-info">لا حَوْلَ وَلا قُوَّةَ إِلا بِاللَّهِ </p>
    </div>
  <!-- ----------------------------------------- -->


   <div class="container mt-5 d-flex flex-wrap justify-content-around" id="container">

  <!-- -------------------------------------------- -->  
  
    <div class="text col-lg-3 col-md-4  col-sm-12 mr-md-3  mb-md-5  text-center ">
      <button class="return">
        <i class="fa-solid fa-rotate-left"></i>
      </button>
      <button class="btn" id="btn1" >0</button>
      <p class="badge-success">سبحان الله </p>
    </div>
  <!-- ----------------------------------------- -->
    <!-- -------------------------------------------- -->
    <div class="text col-lg-3 col-md-4  col-sm-12 col-sm-12 mr-md-3  mb-md-5  text-center " >
      <button class="return">
        <i class="fa-solid fa-rotate-left"></i>
      </button>
      <button class="btn" id="btn2">0</button>
      <p class="badge-danger">الحمدلله </p>
    </div>
  <!-- ----------------------------------------- -->
    <!-- -------------------------------------------- -->
    <div class="text col-lg-3 col-md-4  col-sm-12 mr-lg-3  mb-lg-5  text-center ">
      <button class="return">
        <i class="fa-solid fa-rotate-left"></i>
      </button>
      <button class="btn" id="btn3" >0</button>
      <p class="badge-info"> الله أكبر</p>
    </div>
 


<!--- ----------------------Start-------------------- -->
<div class="container mt-4 d-flex flex-wrap mb-3 justify-content-around">

  <!-- -------------------------------------------- -->  
  
    <!-- -------------------------------------------- -->
    <div class="text col-12  mb-lg-5 mt-lg-5 text-center ">
      <button class="return">
        <i class="fa-solid fa-rotate-left"></i>
      </button>
      <button class="btn" id="btn5">0</button>
      <p class="badge-danger">لَا إلَه إلّا اللهُ وَحْدَهُ لَا شَرِيكَ لَهُ، لَهُ الْمُلْكُ وَلَهُ الْحَمْدُ وَهُوَ عَلَى كُلُّ شَيْءِ قَدِيرِ</p>
    </div>
  <!-- ----------------------------------------- -->
    <!-- -------------------------------------------- -->



</div>



       <!-- ------------ END -------------- -->
       <script src="js/main.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/jquery-3.6.3.min.js"></script>
        <script src="js/bootstrap.js"></script>
       
</body>
</html>